# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# ML artifacts
models/*.h5
models/*.keras
models/*.pt
models/*.pth
models/*.onnx
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs / OS / IDE
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
